ol {
    background-color: lightgoldenrodyellow;
}

ol li:nth-child(2n){
    color:darkgreen;
}

ol li:nth-child(2n+1){
    text-transform: uppercase;
}

h1, h2, h3,h4{
    color:darkred;
}

h1 em, h2 em, h3 em, h4  em{
    font-size:40px;
    border: 1px solid black;
}

li{
    font-size: 20px;

}

li em{
    font-weight: bold;
}