div:hover{
    border: 2px solid darkgreen;
}

div{
    margin:0px;
    padding: 10px 0px;
}

div:nth-of-type(1){
    background-color: lightskyblue;
}
div:nth-of-type(2){
    background-color: lightcoral
}
div:nth-of-type(3){
    background-color: lightgoldenrodyellow;
    padding: 30px 0px;
}
div:nth-of-type(4){
    background-color: darkslateblue;
}
div:nth-of-type(5){
    background-color: lightblue;
}

div:nth-of-type(1) h3{
    color:darkblue;
}

div:nth-of-type(2) h3{
    color:darkred;
}

div:nth-of-type(3) h3{
    color:darkgoldenrod
}

div:nth-of-type(4) h3{
    color:whitesmoke;
}

div:nth-of-type(5) h3{
    color:black;
}

div:nth-child(2n+1) h3{
    font-style: italic;
}