h1,p{
    text-align: center;
}

li:hover{
    background-color: darkseagreen;
}

li:active{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    transition: all 300ms;
}

ul,ol{
    list-style:none;
}